.container {
  margin: 0 150px;
}

.navWrapper {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  position: relative;
}

.logoText {
  font-size: 27px;
  font-weight: bold;
  padding-top: 3rem;
  color: var(--theme-color-2);
}

.navItemsWrapper {
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
  padding-right: calc(400px + 3rem);
}

.bannerWrapper {
  width: fit-content;
  height: fit-content;
  background-color: var(--theme-color-2);
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.bigImageWrapper {
  background-color: var(--theme-color-2);
  border-radius: 50%;
  padding: 1rem;
}

.bigImage {
  
}

.iconsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.icon {
  width: 1.5rem;
  color: white;
}

.contentWrapper {
  padding-top: 10rem;
}

.motoText {
  font-size: 56px;
  font-weight: bold;
  line-height: 66px;
  color: var(--theme-color-1);
  margin-bottom: 2rem;
}

.motoLightRedText {
  color: var(--theme-color-2);
}

.siteDescription {
  max-width: calc(300px + 10vw);
}

.orderAndWatchMoreSection {
  max-width: calc(300px + 10vw);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}

.orderNowBtn {
  cursor: pointer;
  background-color: var(--theme-color-2);
  color: white;
  padding: 1rem 1.5rem;
  border-style: none;
  border-radius: 10px;
}

.crossText {
  text-decoration: line-through;
  font-size: 24px;
  font-weight: bold;
  color: var(--theme-color-2);
}

.updatedPrice {
  font-size: 18px;
  font-weight: bold;
  color: var(--theme-color-2);
}

.bigUpdatedPrice {
  font-size: 35px;
}

.watchMoreWrapper {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}
