.productListWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
}

.itemWrapper {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: relative;
}

.priceWrapper {
  align-self: flex-end;
  font-weight: bold;
  color: var(--theme-color-2);
}

.bigPrice {
  font-size: 35px;
}

.title {
  padding-top: 1rem;
  font-weight: bold;
}

.plusMinusBtn {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

.shopNowBtn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 0.5rem;
}

.foodImageWrapper {
  width: 124px;
  height: 124px;
  border-radius: 100%;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
}

.foodImage {
  border-radius: 100%;
}