:root {
  --theme-color-1: #461010;
  --theme-color-2: #A72121;
  --theme-color-3: #C22020;
}
html,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--theme-color-1);
  border-bottom: 3px solid #9B0000;
}


